*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

}

header{
    width: 100%;
    height: 15%;
    background-color: rgb(151, 0, 71);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header img{
    height: 60px;
    margin-left: 20px;
    margin:10px;

}

header div{
    margin-right: 40px;
}

header button{
    justify-self: flex-end;
    height: 45px;
    width: 95px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 30px;
    background-color: azure;
    border: none;
}

header button :hover{
    font-weight: 900;
    text-decoration: underline;
}

header button a{
    text-decoration: none;
    color: rgb(151, 0, 71);
}

#div-info{
    padding: 20px;
    background-image: url(../imagenes/fondo-oreka.png);
}

footer{
    background-color: rgb(151, 0, 71);
    /* justify-content: flex-end; */
    height: 30%;
    margin-top: auto;
    color: white;
}

footer table{
    margin: 20px;
    font-size: 12px;
    /* line-height: 1.5; */
}

footer table td{
    padding: 5px;
    padding-right: 20px;
}

footer a{
    color: white;
    text-decoration: dashed;
}

#div-separacion aside{
    width: 35%;
    background-color: rgb(186, 36, 106);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-separacion aside h3, 
#div-separacion aside h5, 
#div-separacion aside p{
    text-align: center;
    margin: 10px;
}

#div-separacion aside img{
    width: 80%;
}

#div-separacion aside button{
    background-color: #c4cbd0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 15px; 
}

#div-separacion aside a{
    color: rgb(151, 0, 71);
    font-size: 15px;
    text-decoration: none;
}

#div-separacion{
    display: flex;
    flex-direction: row;
}

#div-separacion article{
    padding: 20px;
    background-image: url(../imagenes/fondo-oreka.png);
}


#div-separacion article ul{
    margin-top: 20px;
    margin-left: 45px;
    line-height: 2;
}

form, .contenedor-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 4;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
}

.cuadro-lista{
    list-style: none;
    border: 1px solid #84898e;
    background-color: #c4cbd0;
    border-radius: 10px;
    width: 25%;
    height: 60px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: justify;
    padding-top: 30px;
}


#parrafo-indice{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 90%;
    margin-left: 35px;
    border-radius: 10px;
    padding: 20px;
    background-image: url(../imagenes/fondo-geometrico.png); 
    border: 2px solid #84898e;
}

.contenedor-form{
    border-bottom: 2px solid #84898e;
}

.contenedor-form input{
    width: 150px;
    margin-right: 20px;
}

#div-separacion article h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.div-productos{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid #84898e;
}

.div-interior{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px;
}

.div-interior h3{
    color:rgb(151, 0, 71);
    font-weight: 700;
}

.div-interior h5{
    font-weight: 600;
}
