/* general */
*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

}

/* cabecera */
header{
    width: 100%;
    height: 15%;
    background-color: rgb(151, 0, 71);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    top: 0;
}

header img{
    height: 60px;
    margin-left: 20px;
    margin:10px;

}

header div{
    margin-right: 40px;
}

header button{
    justify-self: flex-end;
    height: 45px;
    width: 95px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 30px;
    background-color: azure;
    border: none;
}

header button :hover{
    font-weight: 900;
    text-decoration: underline;
}

header button a{
    text-decoration: none;
    color: rgb(151, 0, 71);
}


/* fondo común para todas las páginas */
.div-info{
    padding: 20px;
    background-image: url(../imagenes/fondo-oreka.png);
}

/* pie de página */
footer{
    background-color: rgb(151, 0, 71);
    /* justify-content: flex-end; */
    height: 30%;
    margin-top: auto;
    color: white;
}

footer table{
    margin: 20px;
    font-size: 12px;
    /* line-height: 1.5; */
}

footer table td{
    padding: 5px;
    padding-right: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    font-weight: 600;
}

/* Barra lateral en la pagina de servicios */
#div-separacion aside{
    width: 30%;
    padding: 20px;
    background-color: rgb(186, 36, 106);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-separacion aside h3, 
#div-separacion aside h5, 
#div-separacion aside p{
    text-align: center;
    margin: 10px;
}

#div-separacion aside img{
    width: 80%;
}

#div-separacion aside button{
    background-color: #c4cbd0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 15px; 
}

#div-separacion aside a{
    color: rgb(151, 0, 71);
    font-size: 15px;
    text-decoration: none;
}

/* Contenedor con la barra lateral y el fondo en la página de servicios */
#div-separacion{
    display: flex;
    flex-direction: row;
}

/* fondo para la página de servicios */
#div-separacion article{
    padding: 20px;
    background-image: url(../imagenes/fondo-oreka.png);
}

#div-separacion article ul{
    margin-top: 20px;
    margin-left: 45px;
    line-height: 2;
}

#div-separacion article h1{
    margin-top: 20px;
    text-align: center;
    color:rgb(151, 0, 71);
    font-weight: 700;
}

/* estilo de los div de la pantalla de servicios */
.div-productos{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 2% 10%;
    padding: 20px;
    border-bottom: 2px solid #84898e;
}

.div-interior{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px;
}

.div-interior h3{
    color:rgb(151, 0, 71);
    font-weight: 700;
}

.div-interior h5{
    font-weight: 600;
}

/* estilo para la lista de la pantalla de inicio */
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.cuadro-lista1{
    list-style: none;
    border: 1px solid #84898e;
    background-color: #e5e0fc  ;
    border-radius: 10px;
    width: 25%;
    height: 60px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: justify;
    padding-top: 30px;
}

.cuadro-lista2{
    list-style: none;
    border: 1px solid #84898e;
    background-color:  #aa6c8f ;
    border-radius: 10px;
    width: 25%;
    height: 60px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: justify;
    padding-top: 30px;
}

.cuadro-lista3{
    list-style: none;
    border: 1px solid #84898e;
    background-color:  #d09be8;
    border-radius: 10px;
    width: 25%;
    height: 60px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: justify;
    padding-top: 30px;
}

/* estilo para el parrafo de la pantalla de inicio */
#parrafo-indice{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 14%;
    margin-left: 14%;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    background-image: url(../imagenes/fondo-geometrico.png); 
    border: 2px solid #84898e;
}

#titulo-servicios{
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
}

/* estilo para el video */
video{
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12%;
    border-radius: 10px;
}

/*formulario de contacto */
form, .contenedor-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 4;
}

.contenedor-form{
    border-bottom: 2px solid #84898e;
}

.contenedor-form input{
    width: 150px;
    margin-right: 20px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.contenedor-form select{
    width: 150px;
    height: 30px;
    margin-top: 40px;
    border-radius: 5px;
}

.contenedor-form textarea{
    /* width: 150px; */
    margin-bottom: 40px;   
    border-radius: 5px; 
    height: 6em;
    width: 350px;
}

.contenedor-form textarea :active{
    border: 1px solid rgb(186, 36, 106);
}

#radio-blog{
    display: flex;
    flex-direction: column;
    line-height: 1.5;    
}

/* estilo de los checkbox */
#servicios{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    flex-wrap: wrap;
}

#enviar-form{
    background-color: rgb(186, 36, 106);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 15px; 
}

/* Estilo de la pantalla de proyecto kelvin */
#div-proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div-proyecto h1{
    width: 160px;
    color:rgb(151, 0, 71);
    font-weight: 700;
    margin-top: 20px;
    border-bottom: #84898e 2px solid;
    text-align: center;
    font-size: 35px;
}

#div-proyecto div p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#div-proyecto div img{
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#div-proyecto h3{
    margin: 20px;
    color:rgb(151, 0, 71);
    font-weight: 600;
    border-bottom: 2px solid #84898e;
    padding-left: 20px;
    padding-right: 20px;
}

#div-proyecto div{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
}

#div-proyecto ul{
    width: 80%;
    list-style: circle;
}

#div-proyecto ul li{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#div-proyecto img{
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
}

#div-proyecto table{
    width: 80%;
    margin-top: 30px;
    text-align: justify;
    padding: 20px;
}

#div-proyecto table th{
    padding: 10px;
    background-color: #84898e;
}

#div-proyecto table .fila-impar{
    background-color: #afb6bb;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}

#div-proyecto table .fila-par{
    background-color: #c4cbd0;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}

#div-proyecto table td{
    padding: 15px;
}
